<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PAPERTRAIL" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>logs6.papertrailapp.com</syslogHost>
        <port>14268</port>
        <facility>USER</facility>
        <suffixPattern>my-app: %logger %msg</suffixPattern>
    </appender>

    <logger name="org.apache.kafka" level="info" />
    <logger name="com.datastax.driver" level="warn" />
    <logger name="ch.qos.logback" level="warn" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="PAPERTRAIL" />
    </root>

</configuration>